
.cotent {
	width:100%;
	hieght:100%;
}

.create-question-form {
	width:100%;
	height:100%;
	position:absolute;
	top:0%;
	bottom:0%;
	/* text-align:center; */
	background: url(../img/create_exam.jpg); 
}

.header {
	margin-left:120px;
}

.header p {
	/* 使用了 字体阴影，然后把字体颜色调成背景颜色，就是空心字了*/
    font-size: 32px;
    text-shadow: 0 0 2px black;
    color: #6495ED;
}

.message {
	margin-left:40px;
}

.message p{
	font-size:16px;
	color:#000000;
}

.lesson-select {
	margin-top:20px;
	margin-left:40px;
}

.level-select {
	margin-top:20px;
	margin-left:40px;
}

.type-select {
	margin-top:20px;
	margin-left:40px;
}
.lesson-select select,.level-select select {
	width: 15%;
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
    display: inline-block;
    /* 这里是去除掉input的默认样式然后修改为自己的 */
    background:none;
    outline:none;
    border:0px;
    /* 这里是修改为自己的样式 */
    border-bottom: 2px solid #dcdcdc;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: url("../img/sex-xiala.png") no-repeat;
    background-size:10%;
    background-position:right;
    font-size:16px;
    font-family:Microsoft YaHei;
    color:#666;
    outline:none;
}

.text {
	margin-top:20px;
	margin-left:40px;
}

.text input {
	width: 15%;
    height: 40px;
    margin-left: 5px;
    font-size: 16px;
    display: inline-block;
    /* 这里是去除掉input的默认样式然后修改为自己的 */
    background:none;
    outline:none;
    border:0px;
    /* 这里是修改为自己的样式 */
    border-bottom: 2px solid #dcdcdc;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

.text input:focus {
	border-bottom: 2px solid #00FF7F;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}


.submit {
	margin-top:20px;
	margin-left:40px;
}

.submit input{
	width: 18%;
    height: 40px;
    background: #1a8cfe;
    border: #1A8CFE;
    display: inline-block;
    cursor:pointer;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.4285;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.return {
	margin-top:20px;
	margin-left:40px;
}

.return input{
	width: 18%;
    height: 40px;
    background: #1a8cfe;
    border: #1A8CFE;
    display: inline-block;
    cursor:pointer;
    margin-bottom: 0px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 20px;
    line-height: 1.4285;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label {
	color:red;
}